<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSCameraUsageDescription</key>
    <string>Kiné Helper needs access to your camera for scanning documents or video-based input.</string>

    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Kiné Helper needs Bluetooth access to communicate with supported printers and smartcard
      readers.</string>

    <key>NSUSBUsageDescription</key>
    <string>Kiné Helper uses USB to access scanners, eID card readers and printer.</string>

    <key>NSDocumentsFolderUsageDescription</key>
    <string>Kiné Helper saves PDFs and other exported documents to your Documents folder.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Kiné Helper can import patient images from your photo library if needed.</string>

    <key>NSNetworkUsageDescription</key>
    <string>Kiné Helper needs internet access to synchronize data securely with cloud services.</string>
  </dict>
</plist>