@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
/* .ec {
	--ec-today-bg-color: #af2a2a;
	--ec-list-day-bg-color: #af2a2a;
} */

.ec-time-grid .ec-time, .ec-time-grid .ec-line {
	height: 50px;  /* override this value */
  }