@tailwind base;
@tailwind components;
@tailwind utilities;

:root [data-theme='kine-helper'] {
	--theme-rounded-base: 8px;
	--theme-rounded-container: 40px;
}

/* .ec {
	--ec-today-bg-color: #af2a2a;
	--ec-list-day-bg-color: #af2a2a;
} */
